body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #E6E6FA, #d18680);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login{
    padding: 40px;
    width: 400px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    color: #2c3e50;
    text-align:left;
    margin:0;
}
#demos{
    color: #5d6d7e;
    margin-top: 5px;
    margin-bottom: 24px;
    font-size: 16px;
}
#EnterList{
    color:#2c3E50;
    text-align:left;
}
button{
    background-color: #F88379;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 12px;
    font-size: 16px;
}
button:hover {
    background-color: #E77268;
}